* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  font-family: sans-serif;
  color: steelblue;
  transition: 3s;
}

#home-img {
  /*display: block;*/
  height: 300px;
  margin: 0 auto;
  padding-top: 1rem;
}

.hidden {
  display: none;
}

#home > h3, h4 {
  text-align: center;
}

/*#home > form {
  margin: 0 auto;
}*/

#welcome > h1 {
  text-align: center;
  font-size: 5rem;
}

#welcome > h2 {
  text-align: center;
  font-size: 2rem;
}
