* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  font-family: sans-serif;
  color: steelblue;
  transition: 3s;
}

#home-img, #welcome-img {
  /*display: block;*/
  height: 300px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*transition: 3s;*/
}

.centered-img {
  display: block;
  /*transition: 3s;*/
}

.hidden {
  display: none;
  /*transition: 3s;*/
}

#home > h3, h4, h5 {
  text-align: center;
  padding: 0.5rem;
}

#welcome > h3, h4, h5 {
  text-align: center;
  padding: 0.5rem;
}

#result > h5 {
  font-size: 1rem;
}

#welcome > h1, #result > h1 {
  text-align: center;
  font-size: 3rem;
  padding: 0.5rem;
}

#welcome > h2, #result > h2 {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

#result > h3 {
  text-align: center;
  font-size: 1.5rem;
}

.home-form {
  display: block;
  text-align: center;
}

.home-form > input, select {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  padding: 0.5rem;
}

.home-form > p {
  padding-top: 5rem;
  font-size: 0.5rem;
  text-align: center;
}

.shadow {
  text-shadow: 1px 1px 0 #FFF,
               -1px -1px 0 #FFF,
               1px -1px 0 #FFF,
               -1px 1px 0 #FFF,
               1px 1px 0 #FFF
}

.demons {
  margin: 0 auto;
  width: 80%;
  background: darkgrey;
  color: #FFF;
  text-shadow: 1px 1px 0 #000,
               -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000
}

.image {
   position: relative;
   width: 10%;
   height: 10%;
}

.image > p {
   position: absolute;
   font-weight: bold;
   top: 200px;
   left: 0;
   width: 100%;
}
