@font-face {
	font-family: FaceFears;
  src: url('fonts/DK Face Your Fears II.ttf');
}

@font-face {
	font-family: IstokWeb;
  src: url('fonts/IstokWeb-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  font-family: 'IstokWeb', sans-serif;
  color: steelblue;
  transition: 3s;
}

#home-img, #welcome-img {
  width: 85%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.centered-img {
  display: block;
}

.hidden {
  display: none;
}

#home > h3, h4, h5 {
  text-align: center;
  padding: 0.5rem;
}

#welcome > h3, h4, h5 {
  text-align: center;
  padding: 0.5rem;
}

#result > h5 {
  font-size: 1rem;
}

#welcome > h1, #result > h1 {
  text-align: center;
  font-size: 4rem;
  padding: 0.5rem;
}

#welcome > h2, #result > h2 {
  text-align: center;
  /*font-size: 2rem;*/
  padding: 0.5rem;
}

#result > h3 {
  text-align: center;
  /*font-size: 1.5rem;*/
}

#result > h1 {
  padding-bottom: 2rem;
}

.home-form {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
}

.home-form > input, select {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  padding: 0.5rem;
}

.home-form > p {
  padding-top: 5rem;
  /*font-size: 0.5rem;*/
  text-align: center;
}

.shadow {
  text-shadow: 1px 1px 0 #FFF,
               -1px -1px 0 #FFF,
               1px -1px 0 #FFF,
               -1px 1px 0 #FFF,
               1px 1px 0 #FFF
}

.demons {
  margin: 0.5rem auto;
  width: 50%;
  background: #4D4D4D;
  /*font-size: 1.25rem;*/
  color: #FFF;
  text-shadow: 1px 1px 0 #af111c,
               -1px -1px 0 #af111c,
               1px -1px 0 #af111c,
               -1px 1px 0 #af111c,
               1px 1px 0 #af111c;
  padding: 1rem;
}

/* for text overlay on tombstone image. backburner for now */
/*.image {
   position: relative;
   width: 10%;
   height: 10%;
}

.image > p {
   position: absolute;
   font-weight: bold;
   top: 200px;
   left: 0;
   width: 100%;
}*/

.spookify {
  font-family: 'FaceFears', 'IstokWeb', sans-serif;
}
